<div class="container">
    <div class="footer-inside">
        <img src="/assets/logo-intro.png"class="footer-logo">
        <div class="footer-right-bottom">
            <a href="https://api.whatsapp.com/send?phone=34640362652">
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/Prat-Carnissers-294428960717118/">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/pratcarnissers/">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="tel:+34 938 711 179">
                <i class="fa fa-phone" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>