.container {
  border: 1px solid transparent;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* .container div {
  border: 1px solid black;
} */

iframe {
  position: absolute;
  left: 0;
  width: 100%;
}

.footer-inside {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding: 0px 2em;
}

.footer-logo {
width: 6em;
background-size: 100% 100%;
}

.footer-right-bottom {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.footer-right-bottom a {
  color: white;
  margin: 0 2.2em;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 14px;
  height: 2em;
  width: 2em;
}

.footer-right-bottom i {
  font-size: 2.5rem;
}

.footer-right-bottom a:hover i{
  font-size: 35px;
  transition: 0.1s;
  color: #a30643;
}

.footer-right-bottom a:hover {
  background-color: white;
  height: 3em;
  width: 3em;
  transition: 0.1s;
}