@media (min-width: 600px) {
    .footerSpace {
        display: none;
    }

    .container {
        display: grid;
        /* grid-template-rows: repeat(1, calc(100vh - 90px));
        grid-template-columns: repeat(2, 50vw); */
        grid-template-columns: 100vw;
        grid-template-rows: calc(50vh - 90px) 50vh;
        padding-top: 90px;
        place-items: center center;
    }
    
    iframe {
        /* filter: grayscale(80%) invert(100%) contrast(80%); */
        width: calc(100vw - 100px);
        height: calc(100% - 100px);
        border-radius: 15px;
    }

    .social {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 10vw);
        grid-template-rows: 10vw;
        place-content: space-around;
    }

    .social a {
        text-decoration: none;
    }

    .social-btn {
        display: grid;
        place-content: center center;
        color: #a30643;
        border-radius: 15px;
        background-color: transparent;
        font-size: 6vw;
        height: 10vw;
        width: 10vw;
    }

    .social-btn:hover {
        color: white;
        background-color: #a30643;
        cursor: pointer;
        transition: 0.5s;
        transform: scale(1.1);
        margin-bottom: 20px;
    }

    .social-text {
        color: grey;
        font-family: 'Inter';
        font-size: 1.4vw;
        text-align: center;
    }
    
}

@media (max-width: 600px) {
    .container {
        display: grid;
        /* grid-template-rows: repeat(1, calc(100vh - 90px));
        grid-template-columns: repeat(2, 50vw); */
        grid-template-columns: 100vw;
        grid-template-rows: calc(60vh - 120px) 40vh;
        padding-top: 120px;
        place-items: center center;
    }
    
    iframe {
        /* filter: grayscale(80%) invert(100%) contrast(80%); */
        width: calc(100vw - 120px);
        height: calc(100% - 120px);
        border-radius: 15px;
    }

    .social {
        width: 80%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 30vw);
        grid-template-rows: repeat(2, 30vw);
        place-content: space-around;
    }

    .social a {
        text-decoration: none;
    }

    .social-btn {
        display: grid;
        place-content: center center;
        color: white;
        border-radius: 20px;
        background-color: #a30643;
        font-size: 13vw;
        height: 30vw;
        width: 30vw;
        margin-bottom: 10px;

    }

    .social-text {
        display: none;
    }
    
    


    
}

