<div class="container">
    <div class="social">
        <a href="https://api.whatsapp.com/send?phone=34640362652">
            <div class="social-box">
                <div class="social-btn">
                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                </div>
                <div class="social-text">Whatsapp</div>
            </div>
        </a>
        <a href="https://www.facebook.com/Prat-Carnissers-294428960717118/">
            <div class="social-box">
                <div class="social-btn">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </div>
                <div class="social-text">Facebook</div>
            </div>
        </a>
        <a href="https://www.instagram.com/pratcarnissers/">
            <div class="social-box">
                <div class="social-btn">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
                <div class="social-text">Instagram</div>
            </div>    
        </a>
        <a href="tel:+34 938 711 179">
            <div class="social-box">
                <div class="social-btn">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="social-text">Telèfon</div>
            </div>    
        </a>
    </div>
    <iframe style="filter: invert(90%)" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d987.0070357084055!2d2.355368657619025!3d41.64074629863717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4c93a2f49f28f%3A0x41073397650ced3!2sPrat%20Carnissers!5e0!3m2!1sca!2ses!4v1614252652563!5m2!1sca!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
