.background-popUp {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255,255,255,0.8);
    z-index: 1000;
}



.loading {
    display: flex;
    height: 4px;
    width: 100%;
    background-color: #a30643;
    position: fixed;
    top: 0;
    z-index: 20;
}

.buttons-right {
    display: flex;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    flex-direction: column;
    z-index: 19;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
}

.buttons-left {
    display: flex;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    flex-direction: column;
    z-index: 19;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    opacity: 0;
}


.button {
    display: flex;
    position: absolute;
    margin: 5px;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 90%;
    color: #a30643;
    border-radius: 100%;
    transition: 0.5s;
}

.fa-angle-right {
    display: flex;
    font-size: 40px;
    line-height: 0;
    margin-left: 3px;
}

.fa-angle-left {
    display: flex;
    font-size: 40px;
    line-height: 0;
    margin-right: 3px;
}




.button-black {
    display: flex;
    margin: 5px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 100%;
    width: 100%;
}

.b1-2 {
    z-index: 1;
}


.b2-3 {
    z-index: 0;
}


.b3-4 {
    z-index: 0;
}


.b4-5 {
    z-index: 0;
}


.b5-4 {
    z-index: 0;
}


.b5-6 {
    z-index: 0;
}


.b6-7 {
    z-index: 0;
}

.left-bb {
    position: absolute;
    z-index: 1;
}

.right-bb {
    position: absolute;
    opacity: 0;
}

.historia {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* max-height: 100%; */
    max-width: 300%;
    /* min-height: calc(100%/7);
    max-height: calc(100%/7); */
    min-height: 100%;
    max-height: 100%a;

    /* overflow-y: scroll; */
    background-color: white;
    height: calc(100%/6);
    /* background-color: indianred; */
    position: relative;
    /* scroll-snap-type: x mandatory; */
    z-index: 1;
    left: 0;
}

.pagina {
    display: flex;
    /* border: 1px solid white; */
    min-height: 100%;
    height: 100%;
    max-height: 100%;

    /* height: 100%;
    width: 100%; */

    min-width: 100%;
    max-width: 100%;

    z-index: 10;
    position: absolute;

    top: 0;
    left: 0;

    /* scroll-snap-align: start; */
}


@media (max-width: 600px) {

    .popUp {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 50px;
        height: auto;
        width: 63vw;
        box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.04);
        background-color: #a30643;
        border-radius: 25px;
        color: white;
    }
    
    .close-PopUp {
        position: absolute;
        background-color: transparent;
        min-height: 20px;
        top: 25px;
        right: 25px;
        min-width: 20px;
        z-index: 1001;
    }
    
    .close-PopUp:hover {
        cursor: pointer;
    }
    
    .close-PopUp .close-line {
        position: absolute;
        top: 50%;
        height: 2px;
        border-radius: 2px;
        width: 20px;
        background-color: white;
    }
    
    .close-PopUp .close-line:first-child {
        transform: rotate(45deg);
    }
    
    .close-PopUp .close-line:last-child {
        transform: rotate(-45deg);
    }
    
    .popUp-title {
        font-size: 5vw;
        font-weight: bold;
        color: white;
        margin-bottom: 5px;
    }

    .p1 {
        left: 0;
        flex-direction: column;
    }

    .p1-e {
        display: flex;
        height: 70%;
        width: 100%;
        /* border: 2px solid red; */
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    
    }
    
    .p1-d {
        display: flex;
        height: 30%;
        width: 100%;
        position: relative;
        /* border: 2px solid green; */
    }

    .fotoSeccio1 {
        display: flex;
        position: absolute;
        left: 40%;
        height: 100%;
        bottom: 0;
    }

    .text1 {
        display: flex;
        width: 70%;
        height: auto;
        font-size: 5vw;
        font-family: 'poppins', Arial;
        font-weight: bold;
        margin-bottom: 20px;
        /* color: #a30643; */
        color: grey;
    }
    
    .text2 {
        display: flex;
        width: 70%;
        height: auto;
        font-size: 4vw;
        font-family: 'Cardo', serif;
        color: #a30643;
        font-style: italic;
    }



    .p2 {
        left: 100%;
        flex-direction: column;
    }

    .p2-e{
        display: flex;
        height: 55%;
        width: 100%;
        justify-content: center;
        align-items: flex-end;

    }
    
    .p2-d{
        display: flex;
        height: 45%;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .fotop2 {
        display: flex;
        width: 50%;
        opacity: 80%;
        transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        border-top: 15px solid white;
        border-left: 15px solid white;
        border-right: 15px solid white;
        border-bottom: 50px solid white;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.2);

    
    
    }
    
    .textp2 {
        display: flex;
        width: 70%;
        height: auto;
        font-size: 4vw;
        font-family: 'Poppins', Arial;
        font-weight: bold;
        color: grey;
        text-align: center;
        margin-top: 15%;
    
    }

    .p3 {
        left: 200%;
        flex-direction: column;
    }

    .p3-sup{
        display: flex;
        height: 50%;
        width: 100%;
        position: relative;
        flex-direction: column;
    }
    
    
    .p3-inf{
        display: grid;
        place-items: center;
        height: 50%;
        width: 100%;
        position: relative;
    }
    
    .fotop3 {
        position: absolute;
        height: 100%;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    
    .textp3 {
        font-size: 3.5vw;
        width: 70%;
        font-family: 'Poppins', Arial;
        font-weight: bold;
        color: grey;
        text-align: center;
        margin-bottom: 20%;
    
    }

    .p4 {
        left: 300%;
        height: 100%;
        flex-direction: column;
    }

    .p4-e{
        display: flex;
        height: 45%;
        width: 100%;
        position: relative;
    }
    
    .p4-d{
        display: flex;
        height: 50%;
        width: 100%;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .fotop4 {
        display: flex;
        position: absolute;
        width: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        opacity: 80%;


    }
    
    .z-index-f4-dalt {
        z-index: 4;
    }
    
    .z-index-f4-sota {
        z-index: 3;
        margin-top: 20px;
    }
    
    
    .textp4 {
        display: flex;
        width: 70%;
        font-size: 3.5vw;
        font-family: 'Poppins', Arial;
        font-weight: bold;
        color: grey;
        text-align: center;
    }

    .p5 {
        left: 400%;
        flex-direction: column;
    
    }

    .p5-d{
        display: flex;
        height: 30%;
        width: 100%;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    
    .p5-e{
        display: flex;
        height: 70%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    
    .fotop5 {
        display: flex;
        height: 100%;
        opacity: 80%;
        transform: rotate(5deg);
        border: 7px solid white;
        margin-bottom: 60%;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.2);

    
    
    }
    
    .textp5 {
        display: flex;
        width: 70%;
        height: auto;
        font-size: 3.5vw;
        font-family: 'Poppins', Arial; 
        font-weight: bold;
        color: grey;
        text-align: center;
    }
    
    .p6 {
        left: 500%;
        flex-direction: column;
    }

    .p6-d{
        display: flex;
        height: 40%;
        width: 100%;
        position: relative;
    }
    
    .p6-e{
        display: flex;
        height: 60%;
        width: 100%;
        position: relative;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    
    }
    
    .fotop6 {
        position: absolute;
        bottom: 0;
        display: flex;
        width: 100vw;
    }

    .fotoCarnisseria {
        background-image: url(/assets/carnisseria-foto.JPG);
        width: 100vw;
        height: 100%;
        background-position: 0% 20%;
        background-size: cover;
    }

    .transparencia {
        position: absolute;
        bottom: 0;
        display: flex;
        width: 100vw;
        height: 100%;
        background-image: -webkit-linear-gradient( white 10%, rgba(255, 255, 255, 0) 80% );
    }
    
    .textp6 {
        display: flex;
        width: 70%;
        height: auto;
        font-size: 3vw;
        font-family: 'Poppins', Arial;
        font-weight: bold;
        color: grey;
        margin-bottom: 10px;
        text-align: center;
    }

    

}

@media (min-width: 600px) {

    .popUp {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 50px;
        height: auto;
        width: 40vw;
        box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.04);
        background-color: #a30643;
        border-radius: 25px;
        color: white;
    }
    
    .close-PopUp {
        position: absolute;
        background-color: transparent;
        min-height: 20px;
        top: 25px;
        right: 25px;
        min-width: 20px;
        z-index: 1001;
    }
    
    .close-PopUp:hover {
        cursor: pointer;
    }
    
    .close-PopUp .close-line {
        position: absolute;
        top: 50%;
        height: 2px;
        border-radius: 2px;
        width: 20px;
        background-color: white;
    }
    
    .close-PopUp .close-line:first-child {
        transform: rotate(45deg);
    }
    
    .close-PopUp .close-line:last-child {
        transform: rotate(-45deg);
    }
    
    .popUp-title {
        font-size: 2vw;
        font-weight: bold;
        color: white;
        margin-bottom: 5px;
    }
    .button:hover {
        background-color: #a3064242;
        cursor: pointer;
    }

    .p1 {
        left: 0;
    }
    .p1-e {
        display: flex;
        height: 100%;
        width: 50%;
        /* border: 2px solid red; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    
    .p1-d {
        display: flex;
        height: 100%;
        width: 50%;
        position: relative;
        /* border: 2px solid green; */
    }

    .text1 {
        display: flex;
        width: 70%;
        height: auto;
        font-size: 30px;
        font-family: 'poppins', Arial;
        font-weight: bold;
        margin-bottom: 40px;
        /* color: #a30643; */
        color: grey;
    }

    .fotoSeccio1 {
        display: flex;
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    
    .text2 {
        display: flex;
        width: 70%;
        height: auto;
        font-size: 24px;
        font-family: 'Cardo', serif;
        color: #a30643;
        font-style: italic;
    }

    .p2 {
        left: 100%;
    }

    .p2-e{
        display: flex;
        height: 100%;
        width: 50%;
        position: relative;
    }
    
    .p2-d{
        display: flex;
        height: 100%;
        width: 50%;
        position: relative;
        flex-direction: column;
    
    }

    .fotop2 {
        display: flex;
        position: absolute;
        width: 60%;
        top: 25%;
        transform: translateY(-65%);
        opacity: 80%;
        left: 25%;
        transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        border-top: 25px solid white;
        border-left: 25px solid white;
        border-right: 25px solid white;
        border-bottom: 130px solid white;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    
    
    }
    
    .textp2 {
        display: flex;
        position: absolute;
        top: 44%;
        left: 33%;
        transform: translateX(-40%);
        width: 70%;
        height: auto;
        font-size: 25px;
        font-family: 'Poppins', Arial;
        font-weight: bold;
        color: grey;
        text-align: left;
    
    }

    .p3 {
        left: 200%;
        flex-direction: column;
    }

    .p3-sup{
        display: flex;
        height: 50%;
        width: 100%;
        position: relative;
        flex-direction: column;
    }
    
    
    .p3-inf{
        display: grid;
        place-items: center;
        height: 50%;
        width: 100%;
        position: relative;
    }
    
    .fotop3 {
        position: absolute;
        height: 100%;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    
    .textp3 {
        font-size: 20px;
        width: 50%;
        font-family: 'Poppins', Arial;
        font-weight: bold;
        color: grey;
        text-align: center;
    
    }

    .p4 {
        left: 300%;
        height: 100%;
    }

    .p4-e{
        display: flex;
        height: 100%;
        width: 50%;
        position: relative;
    }
    
    .p4-d{
        display: flex;
        height: 100%;
        width: 50%;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .fotop4 {
        display: flex;
        position: absolute;
        width: 70%;
        top: 50%;
        transform: translateY(-50%);
        opacity: 80%;
        left: 30%;
    }
    
    .z-index-f4-dalt {
        z-index: 4;
    }
    
    .z-index-f4-sota {
        z-index: 3;
    }
    
    
    .textp4 {
        display: flex;
        /* position: absolute; */
        /* top: 40%;
        left: 40%; */
        /* transform: translateX(-40%); */
        width: 70%;
        height: auto;
        font-size: 20px;
        font-family: 'Poppins', Arial;
        font-weight: bold;
        color: grey;
        text-align: left;
        margin: 15px 80px 15px 0px;
    }

    .p5 {
        left: 400%;
    
    }
    
    .p5-d{
        display: flex;
        height: 100%;
        width: 30%;
        position: relative;
    }
    
    .p5-e{
        display: flex;
        height: 100%;
        width: 50%;
        position: relative;
        flex-direction: column;
    
    }
    
    .fotop5 {
        display: flex;
        position: absolute;
        width: 70%;
        top: 25%;
        transform: translateY(-65%);
        opacity: 80%;
        left: 25%;
        transform: rotate(5deg);
        border: 15px solid white;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.2);

    
    
    
    }
    
    .textp5 {
        display: flex;
        position: absolute;
        top: 40%;
        left: 55%;
        transform: translateX(-40%);
        width: 70%;
        height: auto;
        font-size: 20px;
        font-family: 'Poppins', Arial;
        font-weight: bold;
        color: grey;
        text-align: left;
    }

    .p6 {
        left: 500%;
        flex-direction: column;
    }

    .p6-d{
        display: flex;
        height: 50%;
        width: 100%;
        position: relative;
    }
    
    .p6-e{
        display: flex;
        height: 50%;
        width: 100%;
        position: relative;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    
    }
    
    .fotop6 {
        position: absolute;
        bottom: 0;
        display: flex;
        width: 100vw;
    }

    .fotoCarnisseria {
        background-image: url(/assets/carnisseria-foto.JPG);
        width: 100vw;
        height: 100%;
        background-position: 0% 20%;
        background-size: cover;
    }

    .transparencia {
        position: absolute;
        bottom: 0;
        display: flex;
        width: 100vw;
        height: 100%;
        background-image: -webkit-linear-gradient( white 10%, rgba(255, 255, 255, 0) 80% );
    }
    
    .textp6 {
        display: flex;
        width: 70%;
        height: auto;
        font-size: 20px;
        font-family: 'Poppins', Arial;
        font-weight: bold;
        color: grey;
        margin-bottom: 10px;
        text-align: center;
    }
}














.p7 {
    left: 600%;
}








.entrepagina5-6{
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: black;

}

/* Pàgina 6 */


.pagina6 {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 0;
    flex-direction: column;
    height: 100%;
    width: 100%;

}




/* Secció 2 */

.seccio2 {
    display: flex;
    width: 100%;
    height: calc(100% / 7);
    position: absolute;
    bottom: 0;
    background-color: black;
    z-index: 0;
}

.seccio-esquerra {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* border: 1px solid white; */
}

.destaquem {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 20%;
    display: flex;
    margin: 30px 0px;
}

.destaquem-text {
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-size: 30px;
    color: grey;
    margin-left: 40px;
    font-weight: 600;
}


.destaquem-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: #af0042;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
}

.destaquem-icon:hover {
    height: 150px;
    width: 150px;

}


.destaquem-icon img {
    height: 80%;
    width: 80%;
}


.seccio-dreta {
    display: flex;
    width: 50%;
    height: 100%;
    /* border: 1px solid white; */
    position: relative;
    justify-content: center;
    align-items: center;
}

.animals {
    display: flex;
    flex-wrap: wrap;
    height: 75vh;
    width: 75vh;

    /* border: 1px solid white; */
    position: absolute;
    margin-top: 4%;
    justify-content: space-between;
    align-content: space-between;

}

.animal {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width: 30%;
    min-height: 30%;
    height: 30%;
    width: 30%;
    border-radius: 20px;
    overflow: hidden;
    background-color: black;
    transition: 0.5s;
    font-family: 'Inter';

}

.background-animal {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 2;
    transition: 0.5s;
}

.animal:hover {
    cursor: pointer;
}


.animal:hover .background-animal {
    opacity: 0;
}

.animal:hover img {
    opacity: 0;
}

.animal:hover .background-animal {
    opacity: 0;
}


.animal img {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: 0.5s;
    z-index: 3;
}


.text-animal {
    display: flex;
    min-width: 80%;
    max-width: 80%;
    max-height: 100%;
    color: grey;
    font-size: 14px;
    z-index: 1;
    text-align: center;
    font-weight: 200;
} 

.text-animal-petit {
    font-size: 12px;
}

.title-animal {
    display: flex;
    color: white;
    font-size: 25px;
    z-index: 1;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 500;
} 









/* eix cronologic */

.eix {
    position: fixed;
    display: flex;
    flex-direction: row;
    /* border: 1px solid white; */
    height: 16px;
    width: 95px;
    bottom: 50px;
    left: 50px;
    /* transform: translateX(-50%); */
    justify-content: center;
    align-items: center;
    z-index: 11;
    background-color: rgba(255, 255, 255, 0.2) ;
    border-radius: 15px;
}


/* .p1 {
    background-color: #a30643;
    position: absolute;
    display: flex;
    border-radius: 10px;
    height: 10px;
    width: 10px;
    left: 5px;
} */









