<!-- <div class="background-popUp">
    <div class="popUp">
        <div class="close-PopUp" id="close-PopUp">
            <div class="close-line"></div>
            <div class="close-line"></div>
        </div>
        <div class="popUp-title">Això és un Pop Up!</div>
        <div class="popUp-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio possimus natus atque obcaecati maxime fuga corporis neque? Aliquam dicta repellat quisquam architecto facilis voluptas quidem officiis nostrum modi maiores voluptatibus ratione cupiditate maxime, nobis porro fuga asperiores nemo exercitationem vero itaque, non quae id recusandae! </div>    
    </div>
</div> -->

<div class="loading"></div>
<div class="buttons-right">
    <div class="right-bb button-black">
    </div>
    <div class="b1-2 button" id="b1-2">
        <i class="fa fa-angle-right" aria-hidden="true"></i>    
    </div>
    <div class="b2-3 button" id="b2-3">
        <i class="fa fa-angle-right" aria-hidden="true"></i>    
    </div>
    <div class="b3-4 button" id="b3-4">
        <i class="fa fa-angle-right" aria-hidden="true"></i>    
    </div>
    <div class="b4-5 button" id="b4-5">
        <i class="fa fa-angle-right" aria-hidden="true"></i>    
    </div>
    <div class="b5-6 button" id="b5-6">
        <i class="fa fa-angle-right" aria-hidden="true"></i>    
    </div>

</div>
<div class="buttons-left">
    <div class="left-bb button-black">
    </div>
    <div class="b2-1 button" id="b2-1">
        <i class="fa fa-angle-left" aria-hidden="true"></i>    
    </div>
    <div class="b3-2 button" id="b3-2">
        <i class="fa fa-angle-left" aria-hidden="true"></i>    
    </div>
    <div class="b4-3 button" id="b4-3">
        <i class="fa fa-angle-left" aria-hidden="true"></i>    
    </div>
    <div class="b5-4 button" id="b5-4">
        <i class="fa fa-angle-left" aria-hidden="true"></i>    
    </div>
    <div class="b6-5 button" id="b6-5">
        <i class="fa fa-angle-left" aria-hidden="true"></i>    
    </div>
    <!-- <div class="b7-6 button" id="b7-6">
        <i class="fa fa-angle-left" aria-hidden="true"></i>    
    </div> -->
</div>
<div class="button-right"></div>
<div class="historia">
    <div class="p1 pagina">
        <div class="p1-e">
            <div class="text1">Em dic Oriol, Oriol Safont i Prat. 
                Sóc fill d’en Jordi i la Maria de Vilanova del Vallès. 
                La vessant que m’aporta l’ofici de carnisser, però, és 
                la materna.
            </div>
            <div class="text2">N’hi ha que pensem que el primer ofici 
                de la humanitat no és aquell que a vegades es diu, sinó 
                el de carnisser, doncs per alimentar-nos calia caçar i 
                trossejar la carn.
            </div>
        </div>
        <div class="p1-d">
            <img class="fotoSeccio1" src="/assets/oriol amb l'entrecot3.jpg" alt="">
        </div>
    </div>
    <div class="p2 pagina">
        <div class="p2-e">
            <img class="fotop2" src="/assets/mare-a-la-carnisseria.jpg" alt="">
        </div>
        <div class="p2-d">
            <div class="textp2">La mare era carnissera, com ho havia estat el seu pare i el pare del seu pare, és a dir, el meu besavi.
            </div>
        </div>
    </div>
    <div class="p3 pagina">
        <div class="p3-sup">
            <img class="fotop3" src="/assets/avis amb marc2.png" alt="">
        </div>
        <div class="p3-inf">
            <div class="textp3">M’explicaven que en Jaume Prat i Aymerich, el meu besavi, portava la carn de xai en un cistell penjat del braç, i recorria les cases de pagès del poble i dels voltants a qui venia el producte.</div>

        </div>
    </div>
    <div class="p4 pagina">
        <div class="p4-e">
            <img class="f4-1 fotop4 z-index-f4-dalt" src="/assets/marcAntic.png" alt="">
            <img class="f4-2 fotop4 z-index-f4-sota" src="/assets/carniceria-antiga.jpeg" alt="">
        </div>
        <div class="p4-d">
            <div class="textp4">No va ser pas d’un dia per l’altre però la venda es va tornar més sedentària fins que es va pintar a la façana de casa la inscripció “CARNICERIA”.</div> <br>
            <div class="textp4">La data que prenem de referència com a origen de la nostra activitat és la primera que hem trobat escrita en un document, concretament en una escriptura de compra-venda i correspon al 23 de febrer de 1905. </div>
        </div>
    </div>
    <div class="p5 pagina">
        <div class="p5-e">
            <div class="textp5">El protagonista d’aquesta segona etapa ja va ser el meu avi, l’Andreu Prat i Maymó. Treballava el camp, la vinya, el bestiar i la carn, tot començant la jornada abans que es llevés el sol i plegant força més tard de la seva posta.</div>
        </div>
        <div class="p5-d">
            <img class="fotop5" src="/assets/avi, net i xai.jpg" alt="">
        </div>
    </div>
    <div class="p6 pagina">
        <div class="p6-e">
            <div class="p6-1 textp6">La meva mare, la Maria Prat, va ser qui es va instal·lar al Mercat Municipal de Cardedeu. Hi va estar pocs anys, crec que els justos perquè jo tingués temps d’aprendre el més bàsic de l’ofici. Des d’aleshores, que vaig heretar el negoci familiar, han passat més de 30 anys i no hem cessat d’aprendre i intentar millorar.</div>
            <!-- <div class="p6-2 textp6">La data que prenem de referència com a origen de la nostra activitat és la primera que hem trobat escrita en un document, concretament en una escriptura de compra-venda i correspon al 23 de febrer de 1905.</div> -->
            <div class="p6-3 textp6">I no ha estat altra cosa que l’esforç de diferents generacions que ens ha conduit al reconeixement de la Generalitat de Catalunya i de la Cambra de Comerç de Barcelona.</div>
        </div>
        <div class="fotop6 p6-d">
            <div class="fotoCarnisseria"></div>
            <!-- <img class="" src="/assets/carnisseria-foto.JPG" alt=""> -->
            <div class="transparencia"></div>
        </div>
    </div>
    <!-- <div class="p7 pagina">
        <div class="seccio-esquerra">
            <div class="d1 destaquem">
                <div class="destaquem-icon"><img src="assets/carn-madurada.png" alt=""></div>
                <div class="destaquem-text">Carn madurada</div>
            </div>
            <div class="d2 destaquem">
                <div class="destaquem-icon"><img src="assets/proximitat.png" alt=""></div>
                <div class="destaquem-text">Comerç de proximitat</div>
            </div>
            <div class="d3 destaquem">
                <div class="destaquem-icon"></div>
                <div class="destaquem-text">3er aspecte a destacar</div>
            </div>
        </div>
        <div class="seccio-dreta">
            <div class="animals">
                <div class="animal">
                    <img src="/assets/albera.png" alt="">
                    <div class="background-animal"></div>
                    <div class="title-animal">Albera</div>
                    <div class="text-animal">La nostra vedella eco. Pasturen en llibertat això és tradueix en un sabor molt pròpi i intens.
                        És una raça endèmica de l’Alt Empordà.
                    </div>
                </div>
                <div class="animal">
                    <img src="/assets/angus.png" alt="">
                    <div class="background-animal"></div>
                    <div class="title-animal">Angus</div>
                    <div class="text-animal">Raça originària d’Escòcia i criada a Nebraska. 
                        Gust suau i extrtemda tendresa gràcies a la seva elevada infiltració de greix.                    
                    </div>
                </div>
                <div class="animal">
                    <img src="/assets/cabrit.png" alt="">
                    <div class="background-animal"></div>
                    <div class="title-animal">Cabrit</div>
                    <div class="text-animal ">Canals de 4kh. Carn d’una extrema finura, molt suau de gust i tendra.
                    </div>
                </div>
                <div class="animal">
                    <img src="/assets/xai.png" alt="">
                    <div class="background-animal"></div>
                    <div class="title-animal">Xai</div>
                    <div class="text-animal">Canals de 10/11KG, carn molt suau i tendra.
                        Potser no és prou conegut però la carn de xai també necessita repòs i una certa maduració.
                    </div>
                </div>
                <div class="animal">
                    <img src="/assets/rubiagallega.png" alt="">
                    <div class="background-animal"></div>
                    <div class="title-animal">Rubia gallega</div>
                    <div class="text-animal">Raça originària de Galicia. Gust molt intens amb notable infiltració de greix.
                        Les maduracions les fem llargues i extremes (entre 30 i 180 dies).
                    </div>
                </div>
                <div class="animal">
                    <img src="/assets/vedella.png" alt="">
                    <div class="background-animal"></div>
                    <div class="title-animal">Vedella</div>
                    <div class="text-animal text-animal-petit">La nostra vedella, creuament de llemosina i xaroles, criada a Castellterçol. Triem famelles pel seu sabor suau i la seva tendresa notable.La deixem reposar uns 10 dies si bé hi ha peces que destinem a maduracions més llargues.
                    </div>
                </div>
                <div class="animal">
                    <img src="/assets/poltre.png" alt="">
                    <div class="background-animal"></div>
                    <div class="title-animal">Poltre</div>
                    <div class="text-animal">Criats a Caldes. Carn suau, amb poc greix i rica en ferro i omega3.
                    </div>
                </div>
                <div class="animal">
                    <img src="/assets/albera.png" alt="">
                    <div class="background-animal"></div>
                    <div class="title-animal">Bou jove</div>
                    <div class="text-animal">La nostra vedella eco. Pasturen en llibertat això és tradueix en un sabor molt pròpi i intens.
                        És una raça endèmica de l’Alt Empordà.
                    </div>
                </div>
                <div class="animal">
                    <img src="/assets/albera.png" alt="">
                    <div class="background-animal"></div>
                    <div class="title-animal">Simmental</div>
                    <div class="text-animal">La nostra vedella eco. Pasturen en llibertat això és tradueix en un sabor molt pròpi i intens.
                        És una raça endèmica de l’Alt Empordà.
                    </div>
                </div>
            </div>
    
        </div>
    </div> -->
    
</div>



