

.logo img {
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {

    .nav {
        display: none;
    
    }

    .navMax {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        height: 100%;
        width: 100vw;
        z-index: 1;
        background-color: white;
    }

    .navButton {
        display: flex;
        align-items: center;
        margin-left: 15px;
        color: grey;
        transition: 0.3s;
        border-radius: 40px;
        padding: 6px 20px;
        font-family: 'Inter';
        text-decoration: none;
        font-size: 5vw;
        letter-spacing: 0.5px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    


    .hamburguer {
        display: flex;
        height: 25px;
        width: 25px;
        flex-direction: column;
        justify-content: space-around;
        color: white;
        margin-right: 40px;
        position: relative;
        z-index: 8;
}

    .close {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: transparent;
    }

    .hamOn {
        z-index: 10;
    }

    .hamOff {
        z-index: 9;
    }

    .open {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: transparent;
    }


    .line {
        display: flex;
        width: 100%;
        height: 2px;
        background-color: #a30643;
        border-radius: 10px;
    }

    .logo {
        height: 70px;
        width: 80px;
        margin-left: 40px;
        transition: 0.5s;
        z-index: 8;

    }
    
    .logo:hover {
        height: 55px;
        width: 65px;
        margin-left: 40px;
        cursor: pointer;
    }


    .botoDeCompra {
        text-transform: uppercase;
        box-shadow: rgb(0 0 0 / 15%) 0px 3px 3px 1px;
        font-family: 'Inter';
        margin-left: 0px;
        color: white;
        padding: 10px 18px;
        border-radius: 25px;
        z-index: 100;
        font-size: 4vw;
        font-weight: 500;
        background-color: grey;
        font-weight: 400;
        font-size: 14px;
    }

    .compraAraPopUp {
        position: absolute;
        bottom: 10vw;
        /* border: 1px solid rgba(0,0,0,0.05); */
        box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.03);
        width: 80vw;
        height: 20vw;
        border-radius: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        padding: 10px 20px;
    }

    .textDeCompra {
        max-width: 50%;
        color: #a30643;
        font-family: 'Inter';
        font-weight: 600;
        margin: 0px;
        font-size: 4vw;
    }
    

    
        

}    

@media (min-width: 600px) {

    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* margin-right: 60px; */
    }

    .navMax {
        display: none;
    }
    
    .navButton {
        display: flex;
        align-items: center;
        margin-left: 15px;
        color: grey;
        transition: 0.3s;
        border-radius: 40px;
        padding: 6px 20px;
        font-family: 'Inter';
        text-decoration: none;
        font-size: 13px;
        letter-spacing: 0.5px;
        font-weight: 500;
        height: 20px;
    }
    


    .hamburguer {
        display: none;
     
     }

    .logo {
        height: 100px;
        width: 110px;
        margin-left: 30px;
        transition: 0.5s;
    }
    
    .logo:hover {
        height: 105px;
        width: 115px;
        margin-left: 30px;
        cursor: pointer;
    }

    .botoDeCompra {
        text-transform: uppercase;
        box-shadow: rgb(0 0 0 / 15%) 0px 3px 3px 1px;
        font-family: 'Inter';
        margin-left: 0px;
        color: white;
        padding: 10px 18px;
        border-radius: 25px;
        z-index: 100;
        font-size: 9px;
        font-weight: 500;
        background-color: grey;
        font-weight: 400;
        font-size: 14px;
        margin-right: 30px;
        cursor: pointer;
    }

    .botoDeCompra:hover {
        box-shadow: rgb(0 0 0 / 0%) 0px 3px 3px 1px;
        margin-top: 3px;
        transition: 0.3s;
    }

    .compraAraPopUp {
        /* border: 1px solid rgba(0,0,0,0.05); */
        box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.03);
        width: 260px;
        height: 50px;
        border-radius: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        padding: 10px 20px;
        margin-left: 50px;
        background-color: transparent;
    }

    .textDeCompra {
        max-width: 50%;
        color: #a30643;
        font-family: 'Inter';
        font-weight: 600;
        margin: 0px;
        font-size: 13px;
    }
        

} 



.shop i{
    color: white;
    font-size: 30px;
}

.navButton:hover {
    cursor: pointer;
    color: white;
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.02);
    background-color:grey;
}

.active {
    cursor: pointer;
    color: white;
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.02);
    background-color: #a30643;
}

i {
    margin-left: 30px;
    font-size: 20px;
    color: grey;
    transition: 0.5s;
}

i:hover {
    font-size: 23px;
    margin-left: 27px;
    cursor: pointer;
    color: #a30643;
}

a {
    text-decoration: none;
}



