<div routerLink="/inici" class="logo">
    <img src="/assets/logo.png" alt="">
</div>

<div class="nav">
    <div class="navButton" routerLink="/inici" routerLinkActive="active">QUI SOM?</div>
    <div class="navButton" routerLink="/quetoferim" routerLinkActive="active">T'OFERIM</div>
    <div class="navButton" routerLink="/etrecomenem" routerLinkActive="active">MIRA'NS</div>
    <div class="navButton" routerLink="/trobans" routerLinkActive="active">TROBAN'S</div>
    <!-- <div class="compraAraPopUp">
        <p class="textDeCompra">Ja tenim disponible la botiga online</p>
        <a href="https://mercatdecardedeu.com/botiga-online/prat-carnissers/" target="_blank">
            <div class="botoDeCompra" id="navB">Compra ara</div>
        </a>
    </div> -->
</div>

<div class="botoDeCompra" id="navB">Compra ara</div>


<div class="hamburguer">
    <div class="close hamOff"></div>
    <div class="open hamOn"></div>
    <div class="l1 line"></div>
    <div class="l2 line"></div>
    <div class="l3 line"></div>
</div>

<div class="navMax">
    <div class="n1 navButton" id="navB" routerLink="/inici" routerLinkActive="active">Qui som?</div>
    <div class="n2 navButton" id="navB" routerLink="/quetoferim" routerLinkActive="active">T'oferim</div>
    <div class="n3 navButton" id="navB" routerLink="/etrecomenem" routerLinkActive="active">Mira'ns</div>
    <div class="n4 navButton" id="navB" routerLink="/trobans" routerLinkActive="active">Troban's</div>
    <div class="n5 compraAraPopUp">
        <p class="textDeCompra">Ja tenim disponible la botiga online</p>
        <a href="https://mercatdecardedeu.com/botiga-online/prat-carnissers/" target="_blank">
            <div class="botoDeCompra" id="navB">Compra ara</div>
        </a>
    </div>

</div>



