@media (max-width: 600px) {
    .background-popUp {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(255,255,255,0.8);
        z-index: 1000;
    }
    
    .popUp {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 30px 30px 0px 30px;
        height: 80%;
        width: 66vw;
        box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.04);
    
        background-color: white;
        border-radius: 25px;
        overflow-y: scroll;
    }

    .formacionsFotoMobile {
        background-image: url(/assets/formacions.png);
        display: flex;
        height: 90%;
        width: 100%;
        left: 0;
        top: 10%;
        background-position: center;
        background-size: cover;
        position: absolute;
    }

    .formacionsFotoPc {
        display: none;
    }


    .close-PopUp {
        position: absolute;
        background-color: transparent;
        min-height: 20px;
        top: 25px;
        right: 25px;
        min-width: 20px;
        z-index: 999999999;
    }
    
    .close-PopUp:hover {
        cursor: pointer;
    }
    
    .close-PopUp .close-line {
        position: absolute;
        top: 50%;
        height: 2px;
        border-radius: 2px;
        width: 20px;
        background-color: #a30643;
    }
    
    .close-PopUp .close-line:first-child {
        transform: rotate(45deg);
    }
    
    .close-PopUp .close-line:last-child {
        transform: rotate(-45deg);
    }
    .oferim {
        padding-top: 120px;
        color: white;
        overflow-x: hidden;
        position: relative;
    }

    .text {
        color: grey;
        margin-top: 20px;
        font-size: 5vw;
        line-height: 30px;
        font-family: 'Inter';
    }

    .carnmadurada {
        display: grid;
        grid-template-columns: 85%;
        place-content: center center;
    }

    .animals-caixa {
        margin-top: 40px;
        width: 99%;
        display: grid;
        place-content: center center;
        padding-bottom: 150px;
    }
    
    .animals {
        width: 85%;
        display: grid;
        grid-template-columns: repeat(1, 70vw);
        grid-template-rows: repeat(9, 70vw);
    }
    
    .animal {
        display: flex;
        position: relative;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        background-color: white;
        transition: 0.5s;
        font-family: 'Inter';
    
    }
    
    .background-animal {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: white;
        z-index: 2;
        transition: 0.5s;
    }
    
    .animal:hover {
        cursor: pointer;
    }
    
    
    .animal:hover .background-animal {
        opacity: 0;
    }
    
    .animal:hover img {
        opacity: 0;
    }
    
    .animal:hover .background-animal {
        opacity: 0;
    }
    
    
    .animal img {
        position: absolute;
        height: 100%;
        width: 100%;
        transition: 0.5s;
        z-index: 3;
    }
    
    
    .text-animal {
        display: flex;
        min-width: 80%;
        max-width: 80%;
        max-height: 100%;
        color: grey;
        font-size: 5vw;
        z-index: 1;
        text-align: center;
        font-weight: 200;
    } 
    
    .text-animal-petit {
        font-size: 4vw;
    }
    
    .title-animal {
        display: flex;
        color: #a30643;
        font-size: 7vw;
        z-index: 1;
        text-align: center;
        margin-bottom: 5px;
        font-weight: 600;
    }

    .mes {
        position: absolute;
        top: 0;
        opacity: 0;
        color: grey;
        font-family: 'Inter';
    }

    

}    

@media (min-width: 600px) {

    .background-popUp {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(255,255,255,0.8);
        z-index: 1000;
    }
    
    .popUp {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 50px;
        height: auto;
        width: 70vw;
        box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.04);
        background-color: white;
        border-radius: 25px;
        overflow: hidden;
    }

    .whiteBottom {
        display: none;
    }

    

    .popUp2 {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 50px;
        height: 60vh;
        width: 40vw;
        box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.04);
        background-color: white;
        border-radius: 25px;
        overflow: hidden;
    }

    .formacionsFotoPc {
        background-image: url(/assets/formacions2.png);
        display: flex;
        height: 80%;
        width: 100%;
        left: 0;
        top: 15%;
        background-position: center;
        background-size: cover;
        position: absolute;
    }

    .formacionsFotoMobile {
        display: none;
    }
    
    .close-PopUp {
        position: absolute;
        background-color: transparent;
        min-height: 20px;
        top: 25px;
        right: 25px;
        min-width: 20px;
        z-index: 999999999;
    }
    
    .close-PopUp:hover {
        cursor: pointer;
    }
    
    .close-PopUp .close-line {
        position: absolute;
        top: 50%;
        height: 2px;
        border-radius: 2px;
        width: 20px;
        background-color: #a30643;
    }
    
    .close-PopUp .close-line:first-child {
        transform: rotate(45deg);
    }
    
    .close-PopUp .close-line:last-child {
        transform: rotate(-45deg);
    }
    

    .mes {
        position: fixed;
        width: 60vw;
        height: auto;

    }

    .oferim {
        display: grid;
        grid-template-columns: 50vw 50vw;
        padding-top: 120px;
        color: white;
        overflow-x: hidden;
    }

    .text {
        color: grey;
        font-size: 19px;
        line-height: 30px;
        font-family: 'Inter';
    }

    .carnmadurada {
        display: grid;
        grid-template-columns: 70%;
        place-content: center;
        padding-bottom: 20%;
    }

    .animals-caixa {
        display: grid;
        place-content: flex-start center;
    }
    
    .animals {
        display: flex;
        flex-wrap: wrap;
        height: 80vh;
        width: 80vh;
        justify-content: space-between;
        align-content: space-between;
    }
    
    .animal {
        display: flex;
        position: relative;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        min-width: 33%;
        min-height: 33%;
        height: 33%;
        width: 33%;
        border-radius: 20px;
        /* overflow: hidden; */
        background-color: white;
        transition: 0.5s;
        font-family: 'Inter';
    
    }
    
    .background-animal {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: white;
        z-index: 2;
        transition: 0.5s;
    }
    
    .animal:hover {
        cursor: pointer;
    }
    
    
    .animal:hover .background-animal {
        opacity: 0;
    }
    
    .animal:hover img {
        opacity: 0;
    }
    
    .animal:hover .background-animal {
        opacity: 0;
    }
    
    
    .animal img {
        position: absolute;
        height: 100%;
        width: 100%;
        transition: 0.5s;
        z-index: 3;
    }
    
    
    .text-animal {
        display: flex;
        min-width: 80%;
        max-width: 80%;
        max-height: 100%;
        color: grey;
        font-size: 14px;
        z-index: 1;
        text-align: center;
        font-weight: 200;
    } 
    
    .text-animal-petit {
        font-size: 10px;
    }
    
    .title-animal {
        display: flex;
        position: absolute;
        top: 20px;
        color: #a30643;
        font-size: 20px;
        z-index: 4;
        text-align: center;
        margin-bottom: 5px;
        font-weight: 600;
    }

    #bDC6 .text-animal {
        margin-top: 20px;
    }

} 


.container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: repeat(1, 100vh);
}


.text span {
    color: #a30643;
    font-weight: bold;
}


/* MÉS INFORMACIÓ */

span:hover {
    cursor: pointer;
}



.mesHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.mesTitle {
    display: flex;
    color: #a30643;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
    height: 100%;
    z-index: 99999;
}

.mesTancar {
    display: flex;
    margin-right: 30px;
    font-size: 20px;
    color: #a30643;
}

.mesTancar {
    display: flex;
    margin-right: 30px;
    font-size: 20px;
}

.mesTancar:hover {
    cursor: pointer;
    color: #a32d5a;
}

.mesText {
    font-size: 19px;
    line-height: 25px;
    color: grey;
}

.whiteBottom {
    min-height: 20px;
    width: 100%;
    position: sticky;
    bottom: 0px;
    left: 0;
    margin-left: -30px;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.01), white );
    z-index: 999999;
    min-height: 40px;
}

.m1 {
    display: none;
}

.m2 {
    display: none;
}

.m3 {
    display: none;
}

.botoDeCompra {
    margin-top: 10px;
    background-color: #a30643;
    color: white;
    padding: 7px 15px;
    border-radius: 20px;
    z-index: 100;
    font-size: 12px;
}



