<div class="container">
    <div class="oferim">
        <div class="carnmadurada">
            <div class="text">
                Us oferim el que som: una barreja de tradició, formació constant, exigència tant  en la nostra proposta 
                de productes com amb la cura de la seva elaboració i la recerca constant de petits productors arrelats al 
                nostre territori i que sempre ens acaben regalant petits tresors com la nostra vedella, criada a Castellterçol, la vedella de l'Albera d'un ramat que viu en llibertat i que és ECO, o el nostre xai del Montseny. L’objectiu d’aquesta fòrmula és sempre el mateix: oferir als nostres clients el 
                millor producte i el millor servei. <br> <br>
                El nostre coneixement sobre la <span id="mes1">maduració de la carn</span> prové d’aquesta tradició i <span id="mes2">formació</span>. De la voluntat 
                d’innovació neix la nostra proposta de cocció a <span id="mes3">baixa temperatura</span> i de l’exigència i de la cura sorgeixen 
                tots els nostres productes <span id="mes4">d’elaboració pròpia</span>.
            </div>
        </div>
        <div class="animals-caixa">
            <div class="animals">
                <div class="animal" id="bDC1">
                    <img src="/assets/albera.png" alt="">
                    <div class="background-animal"></div>
                    <div class="title-animal">Albera</div>
                    <div class="text-animal">La nostra vedella ECO. Pasturen en llibertat i això es tradueix en un sabor molt pròpi i intens.
                        És una raça endèmica de l’Alt Empordà.
                    </div>
                    <div class="botoDeCompra1 botoDeCompra">Compra ara</div>
                </div>
                <div class="animal" id="bDC2">
                    <img src="/assets/angus.png" alt="">
                    <div class="background-animal"></div>
                    <div class="title-animal">Angus</div>
                    <div class="text-animal">Raça originària d’Escòcia i criada a Nebraska. 
                        Gust suau i extremadament tendresa gràcies a la seva elevada infiltració de greix.                    
                    </div>
                    <div class="botoDeCompra2 botoDeCompra">Compra ara</div>
                </div>
                <div class="animal" id="bDC3">
                    <img src="/assets/cabrit.png" alt="">
                    <div class="background-animal"></div>
                    <div class="title-animal">Cabrit</div>
                    <div class="text-animal ">Canals de 4kg. Carn d’una extrema finor, molt suau de gust i tendra.
                    </div>
                    <div class="botoDeCompra3 botoDeCompra">Compra ara</div>

                </div>
                <div class="animal" id="bDC4">
                    <img src="/assets/xai.png" alt="">
                    <div class="background-animal"></div>
                    <div class="title-animal">Xai</div>
                    <div class="text-animal">Canals de 10/11kg, carn molt suau i tendra.
                        Potser no és prou conegut però la carn de xai també necessita repòs i una certa maduració.
                    </div>
                    <div class="botoDeCompra4 botoDeCompra">Compra ara</div>

                </div>
                <div class="animal" id="bDC5">
                    <img src="/assets/rubiagallega.png" alt="">
                    <div class="background-animal"></div>
                    <div class="title-animal">Rubia gallega</div>
                    <div class="text-animal">Raça originària de Galicia. Gust molt intens amb notable infiltració de greix.
                        Les maduracions les fem llargues i extremes (entre 30 i 180 dies).
                    </div>
                    <div class="botoDeCompra5 botoDeCompra">Compra ara</div>

                </div>
                <div class="animal" id="bDC6">
                    <img src="/assets/vedella.png" alt="">
                    <div class="background-animal"></div>
                    <div class="title-animal">Vedella</div>
                    <!-- <div class="text-animal">La nostra vedella, criada a Castellterçol (Moianès). 
                        Triem sempre famella pel seu sabor suau i la seva notable tendresa.
                        La deixem reposar uns 10 dies si bé hi ha peces que destinem a maduracions més llargues.
                    </div> -->
                    <div class="text-animal">La nostra vedella, criada a Castellterçol. 
                        Triem famella per la seva notable tendresa.
                        La deixem reposar uns 10 dies si bé hi ha peces que destinem a maduracions llargues.
                        
                    </div>

                    <div class="botoDeCompra6 botoDeCompra">Compra ara</div>

                </div>
                <div class="animal" id="bDC7">
                    <img src="/assets/poltre.png" alt="">
                    <div class="background-animal"></div>
                    <div class="title-animal">Poltre</div>
                    <div class="text-animal">Criats a Caldes. Carn suau, amb poc greix i rica en ferro i omega3.
                    </div>
                    <div class="botoDeCompra7 botoDeCompra">Compra ara</div>

                </div>
                <div class="animal" id="bDC8">
                    <img src="/assets/simmental.png" alt="">
                    <div class="background-animal"></div>
                    <div class="title-animal">Bou jove</div>
                    <div class="text-animal"> També conegut com anoll. De carn gustosa, amb notable infiltració de greix, però tendra. Relació qualitat/preu excel·lent.
                    </div>
                    <div class="botoDeCompra8 botoDeCompra">Compra ara</div>

                </div>
                <div class="animal" id="bDC9">
                    <img src="/assets/bou jove.png" alt="">
                    <div class="background-animal"></div>
                    <div class="title-animal">Simmental</div>
                    <div class="text-animal">Vaca de raça suïssa. De conformació mitjana i elevada infiltració de greix. Té un gust intens però elegant.
                    </div>
                    <div class="botoDeCompra9 botoDeCompra">Compra ara</div>

                </div>
            </div>
    
        </div>

        <div class="background-popUp1 background-popUp">
            <div class="popup1 popUp">
                <div class="close-PopUp1 close-PopUp" id="close-PopUp1">
                    <div class="close-line"></div>
                    <div class="close-line"></div>
                </div>
                <div class="mesTitle">Carn madurada</div>
                <div class="mesText">Des de sempre a casa hem dit que la carn no s’havia de consumir fresca, calia reposar-la. I aquest era el terme que utilitzàvem per explicar que passats uns dies la carn esdevenia més tendra i digerible. Mica en mica a Prat Carnissers hem anat enriquint els nostres coneixements, inicialment fonamentats amb la tradició i l’experiència, amb la saviesa científica del IRTA, i amb l’ intercanvi d’experiències amb d’altres professionals. <br><br>
                    Igual com madura un tomàquet per tal de guanyar matisos com la dolçor, l’aroma o el gust, ho fa la carn per guanyar tendresa, melositat o intensitat de sabor. <br><br>
                    La maduració de la carn s’ha de fer en un ambient net, tèrmicament estable i a una temperatura que superi el mínim possible el de la congelació. També caldrà controlar la humitat relativa de l’espai de maduració per aconseguir un acabat o un altre a la nostra carn. <br><br>
                    D’aquest procés se’n diu “maduració en sec” o si us agrada més “dry aged” que sempre queda més “in”.
                </div>
                <div class="whiteBottom"></div>
            </div>
        </div>

        <div class="background-popUp2 background-popUp">
            <div class="popUp2 popUp">
                <div class="close-PopUp2 close-PopUp" id="close-PopUp2">
                    <div class="close-line"></div>
                    <div class="close-line"></div>
                </div>
                <div class="mesTitle">Formació</div>
                <div class="formacionsFotoMobile"></div>
                <div class="formacionsFotoPc"></div>
            </div>
        </div>

        <div class="background-popUp3 background-popUp">
            <div class="popUp3 popUp">
                <div class="close-PopUp3 close-PopUp" id="close-PopUp3">
                    <div class="close-line"></div>
                    <div class="close-line"></div>
                </div>
                <div class="mesTitle">Baixa temperatura</div>
                <div class="mesText">Quan apliquem calor sobre un aliment es produeixen un seguit de reaccions que el modifiquen i ajuden a que ens el puguem menjar amb més facilitat, li aportem noves i diferents característiques a quan era cru i li canviem les propietats nutritives. <br><br>
                    Tots sabem quan de diferent és una pastanaga crua d’una de bullida o un bistec cru del tot respecte un de mig fet o un de molt (massa) fet. <br><br>
                    Aquests canvis depenen essencialment de dos factors: la temperatura i el temps de cocció. <br><br>
                    Doncs aquests són els dos elements amb els quals “juguem” quan cuinem i molt especialment quan fem cocció a baixa temperatura. <br><br>
                    Una planxa fàcilment assoleix els 150 ºC i un forn arriba a 200 o 250 ºC. Com diu la pròpia expressió cocció a baixa temperatura vol dir que hem de quedar molt per sota d’aquestes temperatures –que són evidentment altes- però alhora tenir una temperatura que suposi una cocció real. Si ens distanciem molt d’aquestes temperatures altes, però, haurem d’afegir temps perquè d’altra manera l’aliment no quedaria cuit. <br><br>
                    Per això nosaltres coem durant 48 hores (sí, sí...48!) i aconseguim que les nostres carns quedin increïblement tendres alhora que sucoses i gustoses.
                </div>
                <div class="whiteBottom"></div>
            </div>

        </div> 

        <div class="background-popUp4 background-popUp">
            <div class="popUp4 popUp">
                <div class="close-PopUp4 close-PopUp" id="close-PopUp4">
                    <div class="close-line"></div>
                    <div class="close-line"></div>
                </div>
                <div class="mesTitle">Els nostres elaborats</div>
                <div class="mesText">El que defineix els nostres elaborats és la senzillesa i la qualitat. És a dir, apostem per un aliment sense complexitat en la seva elaboració i que permet notar i degustar de la carn i dels condiments que el componen. És tant així, que els nostres elaborats no contenen ni sal per tal que cadascú es posi la quantitat que desitgi i en la forma que més li agradi (sal fina, gruixuda, escatada, etc). <br><br>
                    Els condiments que utilitzem són de primera qualitat i, sempre que en tenim ocasió, de proximitat. <br><br>
                    Evidentment que per a la realització dels elaborats utilitzem la carn de la nostra vedella, xai, bou o vaca, defugint, doncs, la temptació d’utilitzar carns més econòmiques i de menor qualitat. <br><br>
                    Elaborem constantment i a la vista del client a l’obrador adjunt a l’espai de venda i que està tancat exclusivament per un vidre que permet veure tot el procés de transformació. <br><br>
                    Si som així de transparents és perquè som estrictes en el compliment de les normatives sanitàries i estem orgullosos del la feina que fem i de la forma que la fem. <br><br>
                </div>
                <div class="whiteBottom"></div>
            </div>
        </div> 

        <!-- <div class="mes">
            <div class="m1">
                <div class="mesHeader">
                    <div class="mesTitle">Carn madurada</div>
                    <i class="fa fa-times mesTancar" id="mesTancar1" aria-hidden="true"></i>
                </div>
                <div class="mesText">Des de sempre a casa hem dit que la carn no s’havia de consumir fresca, calia reposar-la. I aquest era el terme que utilitzàvem per explicar que passats uns dies la carn esdevenia més tendra i digerible. Mica en mica a Prat Carnissers hem anat enriquint els nostres coneixements, inicialment fonamentats amb la tradició i l’experiència, amb la saviesa científica del IRTA, i amb l’ intercanvi d’experiències amb d’altres professionals. <br><br>
                    Igual com madura un tomàquet per tal de guanyar matisos com la dolçor, l’aroma o el gust, ho fa la carn per guanyar tendresa, melositat o intensitat de sabor. <br><br>
                    La maduració de la carn s’ha de fer en un ambient net, tèrmicament estable i a una temperatura que superi el mínim possible el de la congelació. També caldrà controlar la humitat relativa de l’espai de maduració per aconseguir un acabat o un altre a la nostra carn. <br><br>
                    D’aquest procés se’n diu “maduració en sec” o si us agrada més “dry aged” que sempre queda més “in”.
                </div>
            </div>
            <div class="m2">
                <div class="mesHeader">
                    <div class="mesTitle">Formació</div>
                    <i class="fa fa-times mesTancar" id="mesTancar2" aria-hidden="true"></i>
                </div>
                <div class="mesText">
                    
                </div>
            </div>
            <div class="m3">
                <div class="mesHeader">
                    <div class="mesTitle">Baixa temperatura</div>
                    <i class="fa fa-times mesTancar" id="mesTancar3" aria-hidden="true"></i>
                </div>
                <div class="mesText">Quan apliquem calor sobre un aliment es produeixen un seguit de reaccions que el modifiquen i ajuden a que ens el puguem menjar amb més facilitat, li aportem noves i diferents característiques a quan era cru i li canviem les propietats nutritives. <br><br>
                    Tots sabem quan de diferent és una pastanaga crua d’una de bullida o un bistec cru del tot respecte un de mig fet o un de molt (massa) fet. <br><br>
                    Aquests canvis depenen essencialment de dos factors: la temperatura i el temps de cocció. <br><br>
                    Doncs aquests són els dos elements amb els quals “juguem” quan cuinem i molt especialment quan fem cocció a baixa temperatura. <br><br>
                    Una planxa fàcilment assoleix els 150 ºC i un forn arriba a 200 o 250 ºC. Com diu la pròpia expressió cocció a baixa temperatura vol dir que hem de quedar molt per sota d’aquestes temperatures –que són evidentment altes- però alhora tenir una temperatura que suposi una cocció real. Si ens distanciem molt d’aquestes temperatures altes, però, haurem d’afegir temps perquè d’altra manera l’aliment no quedaria cuit. <br><br>
                    Per això nosaltres coem durant 48 hores (sí, sí...48!) i aconseguim que les nostres carns quedin increïblement tendres alhora que sucoses i gustoses.
                    
                </div>
            </div>

            <div class="m4">
                <div class="mesHeader">
                    <div class="mesTitle">Els nostres elaborats</div>
                    <i class="fa fa-times mesTancar" id="mesTancar4" aria-hidden="true"></i>
                </div>
                <div class="mesText">El que defineix els nostres elaborats és la senzillesa i la qualitat. És a dir, apostem per un aliment sense complexitat en la seva elaboració i que permet notar i degustar de la carn i dels condiments que el componen. És tant així, que els nostres elaborats no contenen ni sal per tal que cadascú es posi la quantitat que desitgi i en la forma que més li agradi (sal fina, gruixuda, escatada, etc). <br><br>
                    Els condiments que utilitzem són de primera qualitat i, sempre que en tenim ocasió, de proximitat. <br><br>
                    Evidentment que per a la realització dels elaborats utilitzem la carn de la nostra vedella, xai, bou o vaca, defugint, doncs, la temptació d’utilitzar carns més econòmiques i de menor qualitat. <br><br>
                    Elaborem constantment i a la vista del client a l’obrador adjunt a l’espai de venda i que està tancat exclusivament per un vidre que permet veure tot el procés de transformació. <br><br>
                    Si som així de transparents és perquè som estrictes en el compliment de les normatives sanitàries i estem orgullosos del la feina que fem i de la forma que la fem. <br><br>
                    
                </div>
            </div>

        </div> -->
    

    </div>

    

</div>
