<div class="container">
    <!-- <div class="title">Et recomanem</div> -->
    <div class="recomanem">
        <div class="r1">
            <div class="c1 caixa caixa1">
                <div class="title-caixa">Tenim Wagyu!</div>
                <div class="text-caixa"></div>
                <iframe width="100%" height="680px" style="border-radius: 15px;" src="https://www.youtube.com/embed/-eOqiAG6x9g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>  
            <div class="c4 caixa caixa4">
                <div class="title-caixa">Tenim vedella eco!</div>
                <div class="text-caixa">Ara ja, a #pratcarnissers, hi trobaràs carn de VACA DE L'ALBERA que, a més de molt saborosa i de provenir de remats que pasturen en llibertat, és ECO!!!
                    Vols venir a provar-la!?</div>
                    <img src="/assets/vacaAlbera.png" alt="">
            </div>
      
        </div>
        <div class="r2">
            <div class="c2 caixa caixa2">
                <div class="title-caixa">Carpaccio de Rubia Gallega</div>
                <div class="text-caixa">Fem servir una de les millor peces que tenim, en llom baix, i el sotmetem a una maduració extrema, superior als 120 dies. El resultat és un extraordinari carpaccio de Rubia Gallega que de ben segur no has tastat mai.</div>
            </div>
            <div class="c5 caixa caixa5">
                <div class="title-caixa">Baixa temperatura</div>
                <iframe width="100%" height="680px" style="border-radius: 15px;" src="https://www.youtube.com/embed/yHdac3GxC4w"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="c6 caixa caixa6">
                <div class="title-caixa">Tomahawk</div>
                <div class="text-caixa">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, iusto!</div>
                <img src="/assets/Tomahawk.png" alt="">
            </div>
        </div>
        <div class="r3">
            <div class="c3 caixa caixa3">
                <div class="title-caixa">Benestar animal</div>
                <div class="text-caixa">Ens agrada treballar bé i treballar amb gent que treballa bé. La nostra vedella, el nostre xai i cabrit ja tenen el certificat de benestar animal.</div>
                <img src="/assets/benestar-animal.png" alt="">

            </div>
            <div class="c7 caixa caixa7">
                <div class="title-caixa">Hamburguesa de foie</div>
                <div class="text-caixa">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse reprehenderit sequi quos, repellat consectetur debitis commodi quas cumque sed, itaque provident fugit voluptates amet! Aliquid laboriosam culpa voluptas exercitationem itaque inventore dignissimos sequi earum, odio sunt laudantium quae tempora. Architecto explicabo deserunt et perferendis nihil tempora minima voluptatem nemo accusantium.</div>
            </div>
    
        </div>
    </div>
</div>


<a href="http://"></a>