.container {
    display: grid;
    height: auto;
    width: 90%;
    grid-template-rows: auto repeat(1, 100vh);
    padding-top: 150px;
}

.recomanem {
    display: grid;
    place-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 30px;
}

.caixa {
    margin-bottom: 50px;
    /* border: 3px solid grey; */
    background-color: rgba(0,0,0,0.05);
    padding: 30px;
    border-radius: 10px;
    position: relative;
}

.caixa img {
    border-radius: 10px;
    width: 100%;
}

.caixa .text-caixa {
    margin-bottom: 30px;
}

.title {
    display: flex;
    color: #a30643;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    
}

.caixa1 {
    grid-area: c1;
}

.caixa2 {
    grid-area: c2;
}

.caixa3 {
    grid-area: c3;

}

.caixa4 {
    grid-area: c4;

}

.caixa5 {
    grid-area: c5;

}

.caixa6 {
    grid-area: c6;

}

.title-caixa {
    color: #a30643;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Poppins';
}

.text-caixa {
    color: grey;
    font-family: 'Inter';
    line-height: 30px;
    
}


