app-navbar {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  background-image: -webkit-linear-gradient(
    white,
    rgba(255, 255, 255, 0.01)
  ); /* background-color: black; */
  /* box-shadow: black 10px 10px 10px; */
  z-index: 20;
}

app-display {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  background-color: black;
}

@media (min-width: 600px) {
  app-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 135px;
    min-height: 135px;
    width: 100vw;
    background-color: #a30643;
    z-index: -1;
    position: fixed;
    bottom: 0;
  }
}

@media (max-width: 600px) {
  app-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    background-color: #a30643;
    position: fixed;
    bottom: 0;
    z-index: -1;
  }
}
