.intro {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    /* background-image: url(/assets/noise.png); */
    background-color: white;
    z-index: 20;
    justify-content: center;
    align-items: center;
}


@media (max-width: 600px) {

    .logo {
        display: flex;
        height: 25vw;
        width: 30vw;
    }
}    

@media (min-width: 600px) {

    .logo {
        display: flex;
        height: 9vw;
        width: 10vw;
    }

    .footerSpace {
        min-height: 135px;
        background-color: transparent;
        width: 100vw;
        height: 135px;
        max-height: 135px;
        pointer-events: none;
    }
} 


.logo img {
    width: 100%;
    height: 100%;
}

.whatsapp{
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    transition: 0.5s;
    text-decoration: none;
}

.whatsapp:hover {
    height: 50px;
    width: 50px;
}

.whatsapp img {
    height: 100%;
    width: 100%;
}

