html {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: white;

}

body {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: black;
}

app-root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

/* SECCIONS DEL MENU DEL ROUTER-OUTLET */

app-inici {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    background-color: white;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1);
}


app-quetoferim {
    display: grid;
    height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1);
}


app-etrecomanem {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1);
}

app-trobans {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1);

}


